// Define variables for your color scheme

// For example:
$red: #CC484B;
$blue: #1782C4;
$yellow: #FFCA3A;
$orange: #E67E22;
$green: #8AC926;
$purple: #694D93;
$white: #FFFFFF;
$gray: #0E0000;
$light-gray: #F4F4F4;
