.notice {
  border: 2px solid darkgreen;
  color: $black;
  font-weight: 900;
  width: 50%;
  text-align: center;
  // position: fixed;
  // top: 75px;
  // right: 25px;
  // z-index: 1000;
}

.alert {
  border: 2px solid $red;
  color: $red;
  font-weight: 900;
  width: 50%;
  text-align: center;
  // position: fixed;
  // top: 75px;
  // right: 25px;
  // z-index: 1000;
}
