.fa-solid {
  text-decoration: none;
}

.card {
  background-color: $green;
  height:250px;

  .img-game{
    width: 100px;
    Height:100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    }
}
.img-game:hover {
  object-fit: fill;
  object-position: bottom;
}

.game-card {
  background: $white;
  border: 1px solid $Moderngrey;
}

.game-card-main {
  width:90%;
  margin: 3em auto;
  flex-grow: 1;
}
