.fa-solid {
  text-decoration: none;
}

.card {
  background-color: $green;
  height:250px;

  .img-game{
    width: 100px;
    Height:100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    }
}
.img-game:hover {
  object-fit: fill;
  object-position: bottom;
}

.game-card {
  background: $white;
  border: 5px solid transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.game-card-main {
  width:90%;
  margin: 3em auto;
  flex-grow: 1;
}


.game-card-actions {

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items:center;

}


.bouton-card {
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4)!important;
}

.titre-index_cr {
  margin-top: 1.5em;
}

.sous-titre-index-cr span {
  color: $purple;
  font-weight: bold;
}
