.game-card {
  width:90%;
  display:flexbox;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15 px;
  box-shadow: 2px 2px 15px darkgreen;

}
