.link_sign_up {
  text-decoration: none;
  color: black;
}

.link_forgot_password {
  text-decoration: none;
  color: black;
}

.link-card {
  background-color: transparent;
  color: $purple;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}

.link-card-profile {
   background-color: transparent;
   color: $purple;
   &:hover {
    color: $green;
   }
}
