.link_sign_up {
  text-decoration: none;
  color: black;
}

.link_forgot_password {
  text-decoration: none;
  color: black;
}

.link-card {
  text-decoration: none;
  &:hover {
    color: $purple;
  }
}
