.futur-form-llm {

  width: 60%;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid $gray;
  text-align: center;
  display: flex;
  flex: revert;
  justify-content:space-between;
  align-items: center;
}

.title-conversation {
  text-align: end;
  padding-right: 15px;
}
