.navbar-lewagon {
  height: 72px;
  padding: 0 32px;
  justify-content: space-between;
  color: $sweetgrey;
  background: $bg-footer;//#694D93;
  //background: linear-gradient(180deg,$purple 80%, $green 100%);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  box-shadow: 2px 2px 4px $white;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}
