.navbar-lewagon {
  justify-content: space-between;
  color: $white;
  background: #694D93;
  background: linear-gradient(180deg,$purple 80%, $green 100%);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
